.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

manifest/src

# Cache of project
.gradletasknamecache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
request_context/out/
