.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

manifest/src

# Cache of project
.gradletasknamecache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
common_rest/out/
common_test/out/
common_logging/out/
common_dwp_api/out/
common_dwp_api_test/out/

### Eclipse ###
**/.settings/
**/.classpath
**/.project
**/bin